.products-list-cart-loading {
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.products-list-container h2 {
  font-family: "Oswald";
  margin: 40px;
  margin-left: 70px;
}

.products-list-container {
  font-family: "Oswald", sans-serif;
  min-height: 90vh;
}

.products-list-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.products-list-btns-left {
  display: flex;
  gap: 30px;
  margin-left: 120px;
}
.products-list-btns-left-form {
  display: none;
}

select {
  height: 28px;
}

.products-list-btns-right {
  display: flex;
  align-items: center;
  margin-right: 120px;
}

.products-list-btns button {
  padding: 10px 25px;
  border-radius: 12px;
  border: none;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #23b499;
}

/* products list cart */

.products-list-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 80px;
  padding: 20px 0;
  padding-bottom: 40px;
  gap: 50px;
}

.products-list-cart-link {
  text-decoration: none;
}
.products-list-cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 20px;
  width: 230px;
  cursor: pointer;
  color: #fff;
}

.products-list-cart-container-img {
  margin: 0;
  width: 200px;
}

.products-list-cart-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 15px 9px;
}

.products-list-cart-container-btn {
  padding: 10px 22px;
  border: none;
  border-radius: 12px;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
}

label {
  padding-right: 2px;
  font-size: 16px;
}

@media only screen and (max-width: 420px) {
  .products-list-container h2 {
    margin-bottom: 20px;
  }

  .products-list-btns-right {
    font-size: 14px;
  }
  .products-list-btns {
    display: flex;
    margin: 20px 0;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 850px) {
  .products-list-btns-left {
    display: none;
  }
  .products-list-btns-left-form {
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .products-list-container h2 {
    text-align: center;
    margin-left: 0;
    width: 100%;
  }
  .products-list-btns-left,
  .products-list-btns-right,
  .products-list-btns-left-form {
    margin: 0 50px;
  }
}

@media only screen and (max-width: 390px) {
  .products-list-btns {
    flex-direction: column;
  }
  .products-list-btns-right {
    margin-top: 15px;
  }
}
