.burger-menu {
  justify-content: space-evenly;
  width: 25px;
  cursor: pointer;
  z-index: 122;
  position: fixed;
  top: 26px;
}
.burger-menu-top,
.burger-menu-center,
.burger-menu-bottom {
  margin-bottom: 7px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

@media only screen and (min-width: 992px) {
  .burger-menu {
    display: none;
  }
}
