.product-item-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-item-container h2 {
  display: flex;
  flex-direction: row;
  font-family: "Oswald";
  margin: 20px 0;
  margin-left: 80px;
}

.product-item-container {
  display: flex;
  flex-direction: row;
}

.product-item-container-left {
  margin-top: 80px;
  grid-column: 1 / 2;
  width: 100%;
}

.product-item-container-right {
  margin-top: 80px;
  grid-column: 2/3;
  width: 100%;
}

.product-item-container-right button {
  padding: 10px 25px;
  border-radius: 12px;
  border: none;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.products-list-loading {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald";
}
