.newsletter-container {
  background-color: #212121;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.newsletter-container h2 {
  font-family: "Oswald";
  margin: 0;
}

.newsletter-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border: 1px solid #fff;
  padding: 15px 70px;
  border-radius: 12px;
  margin-left: 30px;
}
.newsletter-container-left p {
  width: 300px;
}

.newsletter-container-left-input input {
  width: 250px;
  min-width: 100px;
  height: 40px;
  border-radius: 12px;
  padding-left: 15px;
  border: none;
}

.newsletter-container-right-img {
  width: 400px;
  margin: 0;
}

.newsletter-btn {
  background-color: #fd823f;
  color: white;
  padding: 13px 25px;
  font-size: 15px;
  border-radius: 12px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin: 20px 0;
  margin-left: 15px;
}

.newsletter-btn:hover {
  background-color: #fd813fd5;
}

@media only screen and (max-width: 992px) {
  .newsletter-container {
    flex-direction: column;
  }

  .newsletter-container-left {
    text-align: center;
    margin: 0 30px;
    margin-top: 40px;
    align-items: center;
  }

  .newsletter-container-left p {
    width: 100%;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 630px) {
  .newsletter-container-left-input {
    display: flex;
    flex-direction: column;
  }
  .newsletter-container-right-img {
    width: 300px;
  }
  .newsletter-container-left {
    padding: 15px 20px;
  }
  .newsletter-btn {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 333px) {
  .newsletter-container-right-img {
    width: 220px;
  }
  .newsletter-container-left p {
    width: 200px;
    margin: 20px 15px;
  }
  .newsletter-container-left {
    padding: 15px 5px;
  }

  .newsletter-container-left-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .newsletter-btn,
  .newsletter-container-left-input input {
    width: 80%;
  }
}
